@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 60px;
}
.header{
    width: 100%;
    background-color: #F0FFF0;
}
.nav-option-wrap{
    font-weight: 500;
    font-size: 16px;
}
@media (min-width: 992px) {
    .nav-option-wrap{
        width: 490px;
    }
    .top-section h1{
        width: 405px;
        font-size: 48px;
        font-weight: 700;
    }
    .top-section .pera{
        width: 403px;
        font-size: 16px;
        color: #6C6B6B;
        line-height: 36px;
    }
}
.grn-btn{
    padding: 12px 28px;
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 45px;
}
.top-section{
    margin-top: 50px;
}
.top-section-rigth img{
    width: 100%;
}
.top-section-question-red{
    color: #FD511A;
}
.top-section h1{
    font-weight: 700;
}
.high-light-text{
    color: #21B573;
}
.top-section .pera{
    font-size: 16px;
    color: #6C6B6B;
}
.content-wraper{
    margin-bottom: 30px;
}
.summry-col img{
    margin: 40px 0px 50px 0px;
    width: 40%;
    height: 95px;
}
.summry-col{
    width: 265px;
    margin: 0px 10px;
    margin-bottom: 10px;
    background-color: #F8FFFB;
    text-align: center;
    border-radius: 10px;
}
.summry-col h3{
    font-size: 24px;
}
#summry-col-id{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px lightgrey;
}
.cards-section{
    margin: 100px 0px;
}
.card-section-title{
    margin-bottom: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.card{
    padding: 15px;
    border: none;
    border-radius: 18px;
    box-shadow: 5px 5px 20px lightgrey;
}
.card img{
    border-radius: 11px;
}
.card-title{
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    text-align: center;
}
.card-text{
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.buy-btn{
    padding: 8px 28px;
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 33px;
    width: 137px;
    height: 35px;
    font-size: 14px;
}
.card-footer-col img{
    width: 18px;
    height: 20px;
}
.card-footer-col p{
    margin-left: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #585859;
}
.card-footer{
    background-color: white;
    border: none;
}
.testimonial-col img{
    width: 120px;
    height: 120px;
}
.testimonial{
    padding: 0px 270px;
}
.testimonial-container h3{
    line-height: 36px;
    color: #413960;
    text-align: center;
}
footer{
    background-color: #282531;
    color: white;
}
.footer-row{
    padding-top: 60px;
    padding-bottom: 100px;
    /* justify-items: flex-end; */
    /* justify-content: space-between; */
}
.footer-col p{
    font-size: 12px;
    line-height: 30px;
    font-weight: 300;
}
.footer-col ul{
    list-style-type: none;
}
.footer-col ul li{
    text-align: center;
    font-size: 12px;
}
.footer-col h6{
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 14px;
    color: lightgrey;
    margin-bottom: 10px;
}